In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_excel('Datos de Facturación.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10895 entries, 0 to 10894
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10890 non-null  object
 1   CVE_CLPV       10895 non-null  object
 2   STATUS         10886 non-null  object
 3   CVE_VEND       10847 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10894 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10895 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10889 non-null  float64
 10  DES_TOT        10894 non-null  float64
 11  DES_FIN        10892 non-null  float64
dtypes: datetime64[ns](4), float64(4), object(4)
memory usage: 1021.5+ KB

In [3]:
#ACÁ FILTRAMOS CVE_CLPV DE 1000 A 2000 usando pd.to_numeric
df["CVE_CLPV"] = pd.to_numeric(df["CVE_CLPV"], errors='coerce')
filtro1 = df[(df["CVE_CLPV"] > 999) & (df["CVE_CLPV"] < 2001)]
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
939,F33384,1016.0,C,6.0,2020-11-12 09:41:24.147,2020-11-12,2020-11-03 00:00:00,2020-11-12,2020-11-17,1530.00,0.0,0.0
940,F33400,1016.0,C,6.0,2020-11-13 12:37:40.927,2020-11-13,2020-11-17 00:00:00,2020-11-13,2020-11-17,5610.00,0.0,0.0
941,F33409,1016.0,E,5.0,2020-11-17 09:25:13.140,2020-11-17,2020-11-03 00:00:00,2020-11-17,NaT,1530.00,0.0,0.0
942,F33410,1016.0,E,6.0,2020-11-17 09:26:19.887,2020-11-17,2020-11-17 00:00:00,2020-11-17,NaT,5610.00,0.0,0.0
943,F33591,1016.0,E,3.0,2020-12-01 12:10:49.257,2020-12-01,2020-12-01 00:00:00,2020-12-01,NaT,3740.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1515,F38584,1967.0,E,2.0,2022-07-12 16:07:29.283,2022-07-12,2022-07-11 00:00:00,2022-07-12,NaT,485.34,0.0,0.0
1516,F38844,1967.0,E,1.0,2022-08-17 15:30:43.837,2022-08-17,2022-08-17 00:00:00,2022-08-17,NaT,1941.36,0.0,0.0
1517,F32253,1982.0,E,1.0,2020-07-15 10:44:43.000,2020-07-15,2020-07-15 00:00:00,2020-07-15,NaT,1720.00,0.0,0.0
1518,F38098,1982.0,C,2.0,2022-05-06 10:55:53.770,2022-05-06,2022-04-28 00:00:00,2022-05-06,2022-05-06,1350.00,0.0,0.0
1519,F38100,1982.0,E,2.0,2022-05-06 11:11:44.367,2022-05-06,2022-04-28 00:00:00,2022-05-06,NaT,1350.00,0.0,0.0

In [ ]:
#acá hicimos que se muestre todas las clases menos la 5 y 4 de CVE_VEND
filtro2=df[(~(df["CVE_VEND"] == "5")) & (~(df["CVE_VEND"] == "4"))]
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F31495,NaN,E,2.0,2020-03-13 10:01:27.000,2020-03-13,2020-03-13,2020-03-28,NaT,900.0000,135.0,0.0
1,F34012,NaN,C,2.0,2021-01-27 16:33:41.007,2021-01-27,2021-01-27,2021-01-27,2021-02-09,1560.0000,0.0,0.0
2,F37241,NaN,E,2.0,2022-01-31 15:56:47.043,2022-01-31,2022-02-01,2022-01-31,NaT,2118.0000,0.0,0.0
3,F37242,NaN,E,1.0,2022-01-31 16:04:58.640,2022-01-31,2022-02-03,2022-01-31,NaT,1250.0000,0.0,0.0
4,F37243,NaN,E,2.0,2022-01-31 16:09:54.803,2022-01-31,2022-01-21,2022-01-31,NaT,2468.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F37413,NaN,E,2.0,2022-02-18 13:06:27.717,2022-02-18,2022-02-18,2022-02-18,NaT,570.0000,0.0,0.0
10891,F38306,NaN,E,2.0,2022-06-03 09:19:22.850,2022-06-03,2022-06-03,2022-06-03,NaT,615.7570,0.0,0.0
10892,F38833,NaN,E,2.0,2022-08-17 10:13:18.113,2022-08-17,2022-08-17,2022-08-17,NaT,1533.1077,0.0,0.0
10893,F39410,NaN,E,2.0,2022-10-26 12:58:52.463,2022-10-26,2022-10-26,2022-10-26,NaT,96.0000,0.0,0.0
10894,F39854,NaN,E,2.0,2023-01-04 11:02:10.957,2023-01-04,2023-01-04,2023-01-04,NaT,851.6355,0.0,0.0

In [ ]:
#correspondiente a la fecha 28/02/2022 se filtran los datos
df["FECHA_ENT"] = pd.to_datetime(df["FECHA_ENT"],errors='coerce')
filtro3=df[(df["FECHA_ENT"] == "28/02/2022")]
filtro3

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
1317,F37506,1757.0,E,2.0,2022-02-28 13:23:45.440,2022-02-28,2022-02-28,2022-02-28,NaT,2586.2100,0.0,0.0
1420,F37494,1943.0,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
1421,F37497,1943.0,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28,2022-02-28,2022-02-28,89.6800,0.0,0.0
2351,F37549,3016.0,E,1.0,2022-03-04 15:08:49.747,2022-03-04,2022-02-28,2022-03-04,NaT,1083.7200,0.0,0.0
2495,F37507,3108.0,E,2.0,2022-02-28 13:52:43.383,2022-02-28,2022-02-28,2022-02-28,NaT,675.4000,0.0,0.0
3471,F37520,4527.0,E,2.0,2022-02-28 17:14:57.487,2022-02-28,2022-02-28,2022-02-28,NaT,4315.0000,0.0,0.0
3634,F37493,4598.0,E,1.0,2022-02-28 10:56:02.460,2022-02-28,2022-02-28,2022-03-30,NaT,44259.0000,0.0,0.0
3847,F37564,4695.0,E,1.0,2022-03-08 09:15:20.507,2022-03-08,2022-02-28,2022-05-07,NaT,5515.0000,0.0,0.0
3895,F37512,4766.0,E,2.0,2022-02-28 15:54:16.277,2022-02-28,2022-02-28,2022-02-28,NaT,9450.0000,0.0,0.0
4301,F37519,5150.0,E,3.0,2022-02-28 17:09:39.213,2022-02-28,2022-02-28,2022-02-28,NaT,2040.0000,0.0,0.0
6204,F37523,5926.0,E,2.0,2022-02-28 17:36:54.363,2022-02-28,2022-02-28,2022-02-28,NaT,451.6100,0.0,0.0
7022,F37516,6179.0,E,3.0,2022-02-28 16:33:54.413,2022-02-28,2022-02-28,2022-02-28,NaT,5951.7000,0.0,0.0
7120,F37508,6232.0,E,2.0,2022-02-28 14:46:56.940,2022-02-28,2022-02-28,2022-02-28,NaT,941.3965,0.0,0.0
9522,F37500,8249.0,E,2.0,2022-02-28 12:32:46.687,2022-02-28,2022-02-28,2022-02-28,NaT,2508.7000,0.0,0.0
9727,F37620,8316.0,E,3.0,2022-03-14 17:00:43.247,2022-03-14,2022-02-28,2022-03-14,NaT,24570.3000,0.0,0.0
10324,F37499,8573.0,E,2.0,2022-02-28 12:25:29.833,2022-02-28,2022-02-28,2022-02-28,NaT,997.5400,0.0,0.0
10356,F37511,8593.0,E,2.0,2022-02-28 15:20:58.040,2022-02-28,2022-02-28,2022-02-28,NaT,218.9700,0.0,0.0

In [10]:
#se muestran los datos menores a 5951.7 de "CAN_NOT" O tambien con el filtro de E
filtro4=df[(df["CAN_TOT"] < 5951.7) | (df["STATUS"] == "E")]
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F31495,NaN,E,2.0,2020-03-13 10:01:27.000,2020-03-13,2020-03-13,2020-03-28,NaT,900.0000,135.0,0.0
1,F34012,NaN,C,2.0,2021-01-27 16:33:41.007,2021-01-27,2021-01-27,2021-01-27,2021-02-09,1560.0000,0.0,0.0
2,F37241,NaN,E,2.0,2022-01-31 15:56:47.043,2022-01-31,2022-02-01,2022-01-31,NaT,2118.0000,0.0,0.0
3,F37242,NaN,E,1.0,2022-01-31 16:04:58.640,2022-01-31,2022-02-03,2022-01-31,NaT,1250.0000,0.0,0.0
4,F37243,NaN,E,2.0,2022-01-31 16:09:54.803,2022-01-31,2022-01-21,2022-01-31,NaT,2468.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F37413,NaN,E,2.0,2022-02-18 13:06:27.717,2022-02-18,2022-02-18,2022-02-18,NaT,570.0000,0.0,0.0
10891,F38306,NaN,E,2.0,2022-06-03 09:19:22.850,2022-06-03,2022-06-03,2022-06-03,NaT,615.7570,0.0,0.0
10892,F38833,NaN,E,2.0,2022-08-17 10:13:18.113,2022-08-17,2022-08-17,2022-08-17,NaT,1533.1077,0.0,0.0
10893,F39410,NaN,E,2.0,2022-10-26 12:58:52.463,2022-10-26,2022-10-26,2022-10-26,NaT,96.0000,0.0,0.0
10894,F39854,NaN,E,2.0,2023-01-04 11:02:10.957,2023-01-04,2023-01-04,2023-01-04,NaT,851.6355,0.0,0.0

In [11]:
#acá sólo se hace aparicion de las columnas CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
filtro5=df.iloc[:,[0,6,7,9]]
filtro5

      CVE_DOC  FECHA_ENT  FECHA_VEN    CAN_TOT
0      F31495 2020-03-13 2020-03-28   900.0000
1      F34012 2021-01-27 2021-01-27  1560.0000
2      F37241 2022-02-01 2022-01-31  2118.0000
3      F37242 2022-02-03 2022-01-31  1250.0000
4      F37243 2022-01-21 2022-01-31  2468.0000
...       ...        ...        ...        ...
10890  F37413 2022-02-18 2022-02-18   570.0000
10891  F38306 2022-06-03 2022-06-03   615.7570
10892  F38833 2022-08-17 2022-08-17  1533.1077
10893  F39410 2022-10-26 2022-10-26    96.0000
10894  F39854 2023-01-04 2023-01-04   851.6355

[10895 rows x 4 columns]

In [12]:
#Sólo se muestran las filas 70001 y 7100

filtro6= df.iloc[7001:7100,:]
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F34494,6165.0,E,2.0,2021-03-10 17:55:15.997,2021-03-10,2021-03-10,2021-03-10,NaT,1730.4875,0.0,0.0
7002,F35269,6169.0,C,2.0,2021-06-08 17:05:57.940,2021-06-08,2021-06-08,2021-06-08,2021-06-09,294.5000,0.0,0.0
7003,F35272,6169.0,E,2.0,2021-06-09 15:48:26.377,2021-06-09,2021-06-09,2021-06-09,NaT,2948.5000,0.0,0.0
7004,F37112,6169.0,E,2.0,2022-01-13 15:41:55.133,2022-01-13,2022-01-13,2022-01-13,NaT,482.0000,0.0,0.0
7005,F34024,6170.0,E,2.0,2021-01-28 11:48:03.310,2021-01-28,2021-01-28,2021-01-28,NaT,449.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7095,F33623,6212.0,E,2.0,2020-12-03 13:34:52.843,2020-12-03,2020-12-03,2020-12-03,NaT,390.0000,0.0,0.0
7096,F36901,6212.0,E,2.0,2021-12-09 16:11:10.230,2021-12-09,2021-12-09,2021-12-09,NaT,428.7000,0.0,0.0
7097,F37762,6212.0,E,2.0,2022-03-30 10:35:10.287,2022-03-30,2022-03-30,2022-03-30,NaT,429.0000,0.0,0.0
7098,F29923,6214.0,E,2.0,2019-10-16 17:26:23.000,2019-10-16,2019-10-16,2019-10-16,NaT,1057.2000,0.0,0.0
7099,F36222,6214.0,E,2.0,2021-09-23 13:50:29.227,2021-09-23,2021-09-23,2021-09-23,NaT,1403.9600,0.0,0.0

In [13]:

df1=pd.read_excel('Datos de Facturación.xlsx', index_col=3)
df1

,CVE_DOC,CVE_CLPV,STATUS,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
CVE_VEND,,,,,,,,,,,
2.0,F31495,,E,2020-03-13 10:01:27.000,2020-03-13,2020-03-13 00:00:00,2020-03-28,NaT,900.0000,135.0,0.0
2.0,F34012,,C,2021-01-27 16:33:41.007,2021-01-27,2021-01-27 00:00:00,2021-01-27,2021-02-09,1560.0000,0.0,0.0
2.0,F37241,,E,2022-01-31 15:56:47.043,2022-01-31,2022-02-01 00:00:00,2022-01-31,NaT,2118.0000,0.0,0.0
1.0,F37242,,E,2022-01-31 16:04:58.640,2022-01-31,2022-02-03 00:00:00,2022-01-31,NaT,1250.0000,0.0,0.0
2.0,F37243,,E,2022-01-31 16:09:54.803,2022-01-31,2022-01-21 00:00:00,2022-01-31,NaT,2468.0000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2.0,F37413,O,E,2022-02-18 13:06:27.717,2022-02-18,2022-02-18 00:00:00,2022-02-18,NaT,570.0000,0.0,0.0
2.0,F38306,O,E,2022-06-03 09:19:22.850,2022-06-03,2022-06-03 00:00:00,2022-06-03,NaT,615.7570,0.0,0.0
2.0,F38833,O,E,2022-08-17 10:13:18.113,2022-08-17,2022-08-17 00:00:00,2022-08-17,NaT,1533.1077,0.0,0.0
2.0,F39410,O,E,2022-10-26 12:58:52.463,2022-10-26,2022-10-26 00:00:00,2022-10-26,NaT,96.0000,0.0,0.0
2.0,F39854,O,E,2023-01-04 11:02:10.957,2023-01-04,2023-01-04 00:00:00,2023-01-04,NaT,851.6355,0.0,0.0

In [28]:
#los valores 1 y 2 de la columna de FECHAELAB
filtro7=df1.loc[[1.0,2.0],["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2022-01-31 16:04:58.640
1.0      2022-05-12 11:53:38.877
1.0      2021-07-29 08:10:40.180
1.0      2021-10-20 08:32:32.347
1.0      2021-12-23 16:43:24.507
...                          ...
2.0      2022-02-18 13:06:27.717
2.0      2022-06-03 09:19:22.850
2.0      2022-08-17 10:13:18.113
2.0      2022-10-26 12:58:52.463
2.0      2023-01-04 11:02:10.957

[8665 rows x 1 columns]

In [27]:
filtro1.to_csv("DactosFacturacion1.csv")
filtro2.to_csv("DactosFacturacion2.csv")
filtro3.to_csv("DactosFacturacion3.csv")
filtro4.to_csv("DactosFacturacion4.csv")
filtro5.to_csv("DactosFacturacion5.csv")
filtro6.to_csv("DactosFacturacion6.csv")
filtro7.to_csv("DactosFacturacion7.csv")